@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/users/',
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        })
    });
</script>
