@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/menus/',
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            } 
        })
    });
</script>
